.nav-container {
  display: flex;
  padding: 1em;
  margin: 1.5em 0.5em;
  justify-content: space-around;
  border: 1px solid $light-grey;
  border-radius: 35px;

  &__input,
  &__select,
  &__toggle-mode,
  &__toggle-layout {
    flex-grow: 1;
  }

  .svg-inline--fa {
    margin: 0.2em 0.1em;
    position: relative;
  }

  &__input,
  &__select {
    border: none;
    padding: 0 1em;
  }

  &__input {
    border-right: 1px solid $light-grey;

  }

  &__toggle-mode,
  &__toggle-layout {
    padding: 0 .5em;
  }
}

.tooltip {
  opacity: 0;
  position: absolute;
  display: inline-block;
  transform: translate(-2em, -2em);
  background: $grey;
  color: $white;
  padding: 0.3em 0.5em;
  margin-bottom: 0.3em;
  border-radius: 4px;
  font-size: 0.8em;
  transition: opacity .1s ease-in, transform .1s ease-in;
}

.nav-container__icon:hover .tooltip {
  opacity: 1;
  transform: translate(-2em, 2em);
}