html,
body,
div#root {
  height: 100%;
  width: 100%;
  overflow-x: clip;
}

.container {
  height: 100%;
  width: 100%;
}

main {
  margin: 1em auto;


  & .about {
    padding: 1em 2em;
    line-height: 1.2em;
  }
}



.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.list-view {
  display: flex;
  flex-direction: column;
}

.grid-view-icon {
  display: none;
}


@media (min-width: 660px) {
  main {
    max-width: 1440px;
  }
}