main {
  margin: 1em;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.list-view {
  display: flex;
  flex-direction: column;
}

.grid-view-icon {
  display: none;
}