body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* header */
header {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;

}

header .brand {
  align-self: center;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  padding: 0.5em;
}

/* footer */
.credits {
  margin: 1em auto;
  padding: 1em;
  margin: 0 auto;
  font-size: .8em;
  text-align: center;
}

/* FontNav */
.container {
  display: flex;
  padding: 1em;
  justify-content: space-around;

}

.container input,
select,
.toggleMode,
.toggleLayout {
  flex-grow: 1;
}

.svg-inline--fa {
  margin: 0.2em 0.1em;
}

.white {
  color: rgb(255, 255, 255);
  stroke: black;
  stroke-width: 10;

}

.black {
  background: rgb(29, 29, 29);
}